*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

$primary-colors: (
    soft-red: hsl(7, 99%, 70%),
    yellow: hsl(51, 100%, 49%),
    graphic-design-text: hsl(167, 40%, 24%),
    photography-text: hsl(198, 62%, 26%),
    footer-bg: hsla(168, 60%, 45%, 0.961),
    footer: hsl(168, 34%, 41%)
);

$neutral-colors: (
    desaturated-blue: hsl(212, 27%, 19%),
    grayish-blue: hsl(213, 9%, 39%),
    dark-grayish-blue: hsl(232, 10%, 55%),
    light-grayish-blue: hsl(210, 4%, 67%),
    white: hsl(0, 0%, 100%)
);

@mixin flex($direction, $position) {
    display: flex;
    flex-direction: $direction;
    justify-content: $position;
    align-items: center;
}

@mixin grid($repeat) {
    diaplay: grid;
    grid-template-columns: repeat($repeat, 1fr);
}

@mixin linkStyle{
    color: map-get($neutral-colors, white);
    text-decoration: none;
    font-weight: 600;
    &:hover{
        color: map-get($neutral-colors, desaturated-blue);
        text-decoration: underline;
    }
}

@mixin backgroundPositioning{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@mixin transitionEffect($property, $color) {
    transition: $property 0.35s ease;
    &:hover{
        background-color: map-get($primary-colors, $color);
    }
}